<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Product</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Order {{ product.name }}</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">{{ form.as_p }}</div>
        <button type="submit" class="btn btn-primary">Order</button>
      </form>
      <a class="btn btn-link" href="{% url 'product_list' %}"
        >Back to Product List</a
      >
    </div>
  </body>
</html>
